[Unit]
Description=Energy Monitor Script
After=network-online.target
Wants=network-online.target

[Service]
User=klotz
Type=simple
ExecStart=/home/klotz/dotfiles/random/energy-monitor.sh >> /var/log/energy-monitor.log 2>&1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

